  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav-bar {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),transparent), url(images/bg.avif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
  }

  .nav-bar .waves{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  .social-icons {
    color: #fff;
  }

  .social-icons:hover {
    color: #ebc600;
  }

  .header-1 {
    height: auto;
  }

  .header-name {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    padding-left: 2px;
    font-size: medium;
  }


  .nav-link {
    color: #ffff;
  }

  .nav-link:hover {
    color: #ebc600;
  }

  .bottom-img {
    width: 100%;
    margin-top: 30px;
  }

  /* intro part */
  .intro-part {
    height: auto;
    margin-top: 118px;
    background-image: url(/images/ab.jpg);
  }
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: ;
}


  .intro-heading {
     margin-top: 100px;
    font-size: 50px;
    font-weight: 600;
  }

  .intro-btn {
    border: 2px solid white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: #000;
    font-size: small;
    font-weight: 500;

  }

  .intro-btn:hover {
    border: 2px solid white;
    color: #fff;
    transform: scale(0.9);
    transition: 0.2s;
  }

  /*------- About Me -----*/
  #about{
    height: auto;
  }


/*------Services  --------------*/

#Services{
  background-color: #ffca18;
  height: auto;
}
.services{
  margin-top: 70px;
  height: auto;
}
 
.services-card{
  height: auto;
  margin-bottom: 20px;
}
.services-img{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-bottom: 15px;
  filter: grayscale(100%)
}
.services-img:hover{
  transition: 0.3s;
  transform: scale(1.1);
  filter: none;
}

/* Blogs */
.card{
  background-color: #ffca18;
  border: #000;
}

.card-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 0;
 -webkit-box-orient: vertical;
 overflow: hidden;
}

.card-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 0;
 -webkit-box-orient: vertical;
 overflow: hidden;
}



  /* Mobile View */
  @media screen and (max-width: 500px) {
    .nav-bar {
      height: 320px;
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .nav-item {
      padding-left: 3px;
      font-size: xx-small;
    }
    .intro-part {
      height: auto;
      margin-top: 30px;
    }
    .intro-heading {
      margin-top: 100px;
       
    }
  }

  footer {
    /* position: fixed; */
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

/* contact us */
#contact{
  background-color: #ffca18;
  height: auto;
}
.error {
  color: red;
}


/* footer */

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h4 {
    color: #fff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}

.footer-distributed h4 span {
    color: #e0ac1c;
}

.footer-distributed .footer-links {
    color: #fff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-solid {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1a;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3f71ea;
}

.footer-links a:hover {
    color: #3f71ea;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: certer;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
